PORT=

# Database
DB_HOST= 
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Json Web Token
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_EXPIRES_IN=

# Email
PORT_EMAIL=
HOST_EMAIL=
USER_EMAIL=
PASSWORD_EMAIL=
FROM_EMAIL=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Cloudflare storage
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=b
R2_BUCKET_NAME=
R2_ENDPOINT=

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=